<div class="subcategory-view">
  <div class="subcategory-header">
    <h1>{{ subcategoryName }}</h1>
    <p class="breadcrumb">{{ categoryName }} > {{ subcategoryName }}</p>
  </div>

  <div class="items-grid" *ngIf="!loading">
    <div class="item-card" *ngFor="let item of items">
      <div class="item-image" *ngIf="item.ITEM_PHOTO">
        <img [src]="item.ITEM_PHOTO" [alt]="item.ITEM_NAME">
      </div>
      <div class="item-content">
        <h3>{{ item.ITEM_NAME }}</h3>
        <p class="price">${{ item.ITEM_PRICE }}</p>
        <p class="description" *ngIf="item.DESCRIPTION">{{ item.DESCRIPTION }}</p>
      </div>
    </div>
  </div>

  <div class="loading-spinner" *ngIf="loading">
    Loading items...
  </div>
</div>