<div class="main">

  <div class="language-selector-wrapper">
    <label for="language-select" class="language-label">🌐 Language:</label>
    <select id="language-select" (change)="onLanguageChange($event)" [value]="selectedLanguage" class="language-select">
      <option value="en">English</option>
      <option value="ar">Arabic</option>
      <!-- Add more languages as needed -->
    </select>
  </div>

  <div class="content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>  
  </div>

</div>
